


<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/48a752667d.js" crossorigin="anonymous"></script>
        <title>Pdf Merger</title>
      </head>
      
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="height: 8rem;">
        <a class="navbar-brand " href="#" style="font-size: 3.5rem;margin-left: 10%;"><i class="fas fa-home"></i> OCR and PDF📝</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent" style="  font-family: 'Playfair Display', sans-serif;  font-size: 2.5rem;  line-height: 1.5;  font-weight: bold; background-color: #343A40;">
          <ul class="navbar-nav ml-auto" style="font-size: 1.15rem;margin-right: 17%; ">
            <li class="nav-item ">
              <a class="nav-link mr-5" href="/home" style="color:white ;">Products</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link mr-5" href="/team" style="color:white ;">About Us</a>
            </li>
       
          </ul>
      
        </div>
      </nav>
      <div class="" style="padding-top: 2%;padding-bottom: 2%;">
        <div class="bg-white" style="margin-top:0%; ;margin-left: 2%;margin-right: 2%;">
            <div class="jumbotron jumbotron-fluid text-center mb-0 " style='background-color:aquamarine'>
                <div>
                    <h1>PDF Merge</h1>
                    <form method="POST" enctype="multipart/form-data">
                        <input type="file" name="pdf_files" multiple>
                        <br><br>
                        <input type="submit" value="Merge PDFs">
                    </form>
                </div>
            </div>
        </div>
      </div>

      
  
  </div>
        </div>
  
      
<!-- Footer -->
<footer id="footer" class="" style='background-color:#343A40; color:white; width:100%;margin-top:0%; text-align:center'>
    OCR Web Application
     </footer>
         



<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>

<style>
html, body {
max-width: 100%;
overflow-x: hidden;
}
</style>

<style>
.parallax {
/* The image used */
background-image: url("https://www.cutewallpaper.org/21/white-1920x1080/60+-Plain-White-Wallpapers-on-WallpaperPlay.jpg");

/* Set a specific height */
height: 100%;

/* Create the parallax scrolling effect */
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
</style>