<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Team</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	
	  
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark text-white" style="background-color: #fff5ee; color: white;">
      <a class="navbar-brand text-white " href="/home" style="font-size: 2rem;margin-left: 15%;"><i class="fas fa-home"></i> OCR and PDF📝</a>
      <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto" style="font-size: 1.5rem;margin-right: 17%; ">
          <li class="nav-item ">
            <a class="nav-link mr-5 text-white" href="/home">Products</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link mr-5 text-white" href="/team">About Us</a>
          </li>
     
    
        </ul>
    
      </div>
    </nav>

    <div class="org_body">

<section id="header" class="jumbotron text-center"  style='background-color:#6bf0f0'>
  <p class="lead text-custom" style="font-size:30px ;"><b><i> Welcome</i></b>
    <h1 class="display-6" style ='color: #0b76a0 '><b>Meet the Team</b></h1>
    

    </p>
    <!-- <span class="btn btn-custom">Group No. 35</span> -->
    <p class="" style='font-size: 30px'><b>TEAM ID : MP22CSE107 </b> </p>
    <p class="" style='font-size: 25px'><b>Project Guide : Mr. Ashish Garg </b> </p>
    <p class="" style='font-size: 15px'><b>Assistant Professor, Department of Computer Science and Engineering </b> </p>
    <p class="" style='font-size: 15px'><b>Graphic Era (Deemed to be University), Dehradun </b> </p>
  </section>



    <div class="container">
      <div class="row align-item-center justify-content-center">


        <div class="col-12 col-sm-6 col-md-4  text-center">
          <div class="card">
            <img height="278px" width="170px"
              src="{{ url_for('static', filename='images/show.png') }}"
              class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">Kartavya Chauhan</h5>
              <!-- <p class="card-text">Front End Team</p> -->
              <span class="btn btn-outline-primary btn-sm">4th year</span>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4   text-center">
          <div class="card">
            <img height="278px" width="170px"
              src="{{ url_for('static', filename='images/pri.jpeg') }}"
              class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">Priya Sharma</h5>
              <!-- <p class="card-text">Back End Team</p> -->
              <span class="btn btn-outline-primary btn-sm ">4th year</span>
            </div>
          </div>
        </div>
         
        <div class="col-12 col-sm-6 col-md-4   text-center">
          <div class="card">
            <img height="278px" width="170px"
              src="{{ url_for('static', filename='images/photo.png') }}"
              class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">Nishita Garg</h5>
              <!-- <p class="card-text">Back End Team</p> -->
              <span class="btn btn-outline-primary btn-sm ">4th year</span>
            </div>
          </div>
        </div>
        
        
        </div>
        </div>
      </div>
        
          <!-- Footer -->
  <footer id="footer" style='background-color:#343A40; color:white; width:100%;margin-top:2%; text-align:center'>
 OCR Web Application
  </footer>
        </body>
        </html>
      </div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script
    src="https://code.jquery.com/jquery-3.4.1.js"
    integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
<script src="/style.js" type="text/javascript"></script>
  </body>
</html>
<style>
.org_body{
  padding: 1% 1%;
  text-align:center;
}
</style>